<div class="row">
  <aside class="col-md-4">
    <%= render 'profile' %>
  </aside>
  <div class="col-md-8">
      <h2><%= @user.name %> がフォローしているユーザー</h2>
      <% @following.each do |user| %>
          <div class="relation-users">
              <div class="name"><%= link_to user.name , user %></div>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="text"><%= user.age %>歳</span>
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="text"><%= user.area %></span>
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="text"><%= user.introduction%></span>
          </div>
      <% end %>
  </div>
</div>

