<div class=container>
  <div class="row profile">

    <div class="page-header">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        [ <%= link_to "edit" , edit_user_path %> ]
      </h1>
    </div>

    <div class="col-sm-6 profile-left">
      年齢
    </div>

    <div class="col-sm-6">
      <%= @user.age %> 歳
    </div>

    <div class="col-sm-6 profile-left">
      所在地
    </div>

    <div class="col-sm-6">
      <%= @user.area %>
    </div>

    <div class="col-sm-6 profile-left">
      紹介文
    </div>

    <div class="col-sm-6">
      <%= @user.introduction %>
    </div>

  </div>
</div>